* {
	box-sizing: border-box;
}
body {
	background-color: #0cb5e9;
	color:#fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vh;
	margin: 0;
}
.Tampungan-Film {
	margin: 20px 0;
}

.Tampungan-Film select {
	background-color: #fff;
	border: 0;
	border-radius: 5px;
	font-size: 14px;
	margin-left: 10px;
	padding: 5px 15px;
}

.Tampungan {
	perspective: 1000px;
	margin-bottom: 30px;
}

.Kursi {
	background-color: rgb(102, 102, 102);
	height: 12px;
	width: 15px;
	margin: 3px;
	border-radius: 8px 8px 0 0;
}

.Kursi.dipilih {
	background-color: rgb(0, 255, 179);
}

.Kursi.dipesan {
	background-color: rgb(10, 195, 241);
}
.Kursi:nth-of-type(2) {
	margin-right: 15px;
}
.Kursi:nth-last-of-type(2) {
	margin-left: 15px;
}

.Kursi :not(.dipesan):hover {
	cursor: pointer;
	transform: scale(1.3);
}
.Eksklusif .Kursi:not(.dipesan):hover {
	cursor: default;
	transform: scale(1);
}

.Eksklusif {
	background-color: rgba(0, 0, 0, 0.15);
	padding: 5px 10px;
	border-radius: 6px;
	color: #777;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.Eksklusif li {
	display: flex;
	align-items: center;
	justify-content: center;
}
.Eksklusif li small {
	margin-left: 2px;
}
.baris {
	display: flex;
}

.layar {
	background-color: #fff;
	height: 70px;
	width: 100%;
	margin: 15px 0;
	transform: rotateX(-45deg);
	box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
	margin: 5px 0;
}
p.text span {
	color: rgb(36, 175, 209);
}